body {
  background: linear-gradient(-45deg, #205e23, #80ff8b);
}
button {
  border-radius: 5px;
  border: none;
  background: linear-gradient(-45deg, #057226, #7bf35da4);
  color: white;
  padding: 8px 15px 8px 15px;
  font-style: bold;
}

button:hover {
  color: black;
  background: #2f662a;
}

nav {
  color: black;
  background-attachment: fixed;
  background-color: #eeeeee;
}
.loader {
  margin: 0 auto;
}
.avatar {
  border-radius: 100px;
  margin-bottom: 25px;
}
#main {
  padding: 14px 50px;
  margin: 0 auto;
  display: none;
}

.info {
  max-width: 300px;
  margin: 15px auto;
  text-align: center;
  font-family: bold;
  font-style: italic;
  padding: 15px;
  border-radius: 50px;
  background: linear-gradient(-45deg, #29dfd6, #744aaa);
  border: 3px solid #000000;
  color: white;
}
.info:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  background: linear-gradient(-45deg, #55133c, #ca1b6d);
  border: 5px solid #505050;
}
.name {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.email {
  font-family: sans-serif;
  font-size: 18px;
  overflow-wrap: break-word;
}
